[package]
name = "amudai-request"
version.workspace = true
edition.workspace = true
authors.workspace = true
readme.workspace = true
description.workspace = true
rust-version.workspace = true

[dependencies]
amudai-guid = { workspace = true }
amudai-stopwatch = { workspace = true }
